# Misc
!tags/
!tmp/cache/.keep
*.log
*.pyc
*.scssc
*.sw[nop]
*.swp
.DS_Store
.bundle
.byebug_history
.cache
.sass-cache
Thumbs.db
db/*.sqlite3
log/*.log
npm-debug.*
rerun.txt
tags
tmp/**/*
vim/view
.project-notes*
.project-notes/*
.vimrc.local
node_modules
*.tags
