[alias]
  aa = add --all
  conflicted = !nvim +Conflicted
  ctags = !.git/hooks/ctags
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  pager = more -Fgr
	editor = nvim
[merge]
  ff = only
[push]
  default = current
[fetch]
  prune = true
[gitsh "color"]
  default = cyan
[gitsh]
  defaultcommand = status -sb
  gitcommand = hub
  nogreeting = true
  prompt = "\n%D %c(%b%#)%w ➜"
[user]
  name = Francois Buys
  email = buys.fran@gmail.com
  signingkey = Francois Buys <buys.fran@gmail.com>
[init]
  templatedir = ~/.git_template
  defaultBranch = main
[pull]
	ff = only

[core]
	editor = nvim
